
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


/* ---------------- Секция header --------------- */

.header {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  z-index: 2;
  position: relative;
}

.logo {
  z-index: 2;
  width: 228px;
  height: 32px;
  background-position: center;
  background-size: contain;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  max-width: 730px;
  margin: 0;
  margin-left: 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link::after {
  color: #2f80ed;
  content: '→';
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  height: 568px;
  width: 568px;
  background-size: 568px;
  right: 0;
  top: 64px;
  z-index: 0;
}

/* ---------------- ------------- --------------- */

/* ---------------- Секция description --------------- */

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 100px 0 100px 0;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

/* --------------------------------------------------- */

/* -----------------Секция digits--------------------- */

.digits {
  margin: 0 auto;
  padding-bottom: 100px;
}

.section-title {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;

}

.table {
  list-style: none;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 0;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px auto 0 auto;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

/* --------------------------------------------------- */

/* -----------------Секция feynman--------------------- */

.feynman {
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: #f2f2f2;
  position: relative;
  min-height: 890px;
  z-index: 1;
}

.feynman__title {
  width: 648px;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  text-align: center;
  margin: auto;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 448px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link::after {
  color: #2f80ed;
  content: '→';
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* --------------------------------------------------- */

/* -----------------Секция kaufman --------------------- */

.kaufman {
  background-color:  #1f1f1f;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.section-title_theme_dark {
  margin: 0 auto;
  padding-top: 90px;
  color:#ffffff;
}

.section-subtitle_theme_dark {
  margin: 0 auto;
  padding-top: 20px;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  color:#ffffff;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: 877px;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  color: white;
  padding-top: 80px;
  width: 200px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.table__text_theme_dark {
  padding: 0;
}

/* --------------------------------------------------- */

/* -----------------Секция footer --------------------- */

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  color: #ffffff;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 0;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column-heading {
  color: #ffffff;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 16px;
  padding-left: 0;
  list-style: none;
}

.footer__column-link {
  text-decoration: none;
  display: flex;
  gap: 10px;
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

/* --------------------------------------------------- */
